<script type="text/javascript">
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(getPosition);
    } else {
      alert("Geolocation is not!");
    }
  }
  function getPosition(position) {
    document.getElementById("la").value = position.coords.latitude;
    document.getElementById("lo").value = position.coords.longitude;
  }
</script>
  <form>
    Latidude: <input type="text" id="la">
    <br>
    Longitude: <input type="text" id="lo">
    <br>
    <input type="button" value="Exibir" onclick="getLocation();" >
  </form>