<script type="text/javascript">
  function getNotification() {
    if (window.webkitNotifications.checkPermission() == 0) {
      showNotification();
    } else {
      window.webkitNotifications.requestPermission();
    }
  }
  function showNotification() {
    var n = window.webkitNotifications.createNotification("html5.jpg", "Novo Email", "Olá tudo bem...");
    n.show();
  }
  setInterval("getNotification();", 6000);
</script>
<body>
  <input type="button" onclik="getNotification();" value="Exibir">
</body>